*.sublime-workspace
*.pyc
*.pyo
/autobahntestsuite/build/*
/autobahntestsuite/dist/*
/autobahntestsuite/autobahntestsuite.egg-info*/
/reports
*~
autobahntestsuite/reports
get-pip.py
docker/*.whl
