# AutobahnTestSuite dependencies for Python 2.7 / Autobahn 0.10.9

setuptools==44.0.0           # pip/setuptools from pre-2020 era
txaio==2.1.0
incremental==16.10.1         # must pin because of use of typing
pyOpenSSL==19.1.0
cryptography==3.3.2          # last version supporting Python 2 and OpenSSL 1.1
Twisted==19.10.0             # pin Twisted 19.10.0; 20.3.0 triggers bad incremental
zope.interface==4.6.0        # Twisted dependency compatible with 2.7
jinja2==2.11.3
markupsafe==1.1.1
Werkzeug==1.0.1
klein==17.10.0               # last pre-Python3-only Klein
pyopenssl==19.1.0
service_identity==18.1.0
unittest2==1.1.0
six==1.16.0
autobahn[twisted,accelerate]==0.10.9
